/* main stuff (theme, body, etc.) */
*{
    margin:0;
    box-sizing: border-box;
    text-align: center;
    font-family: Verdana, sans-serif;
}
.light {
    background-color: #fafafa;
    color: #121212;
}
.light h3, .light h2,.light h4{
    color: #6A89A7;
}
.dark h3, .dark h2, .dark h4{
    color: #88BDF2;
}
.dark {
    background-color: #121212;
    color: #fafafa;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    transition: background-color 0.2s ease-in-out;
}

/* text decorations */
.light .bigletter {
    font-size: xx-large;
    color: #6A89A7;
}
.dark .bigletter {
    font-size: xx-large;
    color: #88BDF2;
}


/* main text blocks */
main {
    flex: 1;
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* blocks */
.section {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgba(162,199,216,0.25); */
    width: 40%;
}
.mainsection {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(56, 73, 89,0.1);
    width: 100%;
    border-radius: 20px;
    padding: 20px;
}
.splitsection {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}
.sectionleft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 75%;
    height: inherit;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    background-color: rgba(56, 73, 89,0.1);
}
.sectionright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 24%;
    margin-left: 1%;
    height: inherit;
}
.sectionblock {
    padding: 5px;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    flex-direction: column;
    background-color: rgba(56, 73, 89,0.1);
}
.sectionblock:first-of-type {
    border-radius: 0 20px 0 0;
}
.sectionblock:last-of-type {
    margin-bottom: 0;
    border-radius: 0 0 20px 0;
}
.section h3 {
    text-transform: capitalize;
    font-size: 32px;
}

/* footer */
footer {
    display: flex;
    width: 100%;
    background-color: rgba(56, 73, 89,0.1);
    height: 100px;
}

/* Header and Nav */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    transition: all 0.2s ease-in-out;
}
.light header {
    border-bottom: 1px lightgray solid;
}
.dark header {
    border-bottom: 1px #282828 solid;
}
.headercontent {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
.menucontent {
    display: none;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: flex-start;
}
/* nav buttons */
.menucontent a {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    padding-right: 10px;
    border-right: rgba(56, 73, 89,0.5) 1px solid;
    text-decoration: none;
    background-color: transparent;
    transition: border 0.2s ease-in-out;
}
.menucontent a:hover {
    color: #6A89A7;
    border-right: 10px rgba(56, 73, 89,0.5) double;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
header:hover a {
    animation: fadein 0.5s ease-in-out;
}
header:hover .themebutton{
    animation: fadein 0.5s ease-in-out;
}
header:hover {
    height: 100px;
}
header:hover .menucontent{
    display: flex;
    opacity: 1;
}
.themebutton {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
/* menu button */
.menubutton {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}
.menupart1 {
    width: 40px;
    height: 5px;
    transition: all 0.2s ease-in-out;
}
.menupart2 {
    width: 30px;
    height: 5px;
    transition: all 0.2s ease-in-out;
}
header:hover .menupart1{
    width: 30px;
}
header:hover .menupart2{
    width: 40px;
}
.menulight {
    background-color: #121212;
}
.menudark {
    background-color: #fafafa;
}
/* logo */
.logo {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
}
/* mobile */

@media screen and (max-width:1200px) {
    .section {
        width: 90%;
    }
    .menucontent a {
        border-left: rgba(56, 73, 89,0.5) 1px solid;
        border-right: none;
        padding-right: 0;
        padding-left: 10px;
    }
    .menucontent a:hover {
        border-left: 10px rgba(56, 73, 89,0.5) double;
        border-right: none;
    }
    .sectionblock {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .sectionblock:first-of-type {
        border-radius: 0;
    }
    .sectionblock:last-of-type {
        margin-bottom: 0;
        border-radius: 0 0 20px 20px;
    }
    .splitsection {
        flex-direction: column;
    }
    .sectionleft {
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .sectionright {
        margin-left: 0;
        width: 100%;
    }
    header:hover {
        height: auto;
    }
    .menucontent {
        flex-direction: column;
        align-items: flex-start;
    }
    footer {
        height: 200px;
    }
}